

body{
 
  
}

.header{
    margin-top: -8px;
    margin-left:-8px ;
    margin-right: -8px;
}


#headerItemDisplay,#headerMensPage{
    margin-top: -8px;
    margin-left:-8px ;
    margin-right: -8px;

}

#headerHome{
 margin-top: -8px;
 margin-left:-8px ;
 margin-right: -8px;
 padding-bottom:7em;
 background-image: url("threadsImages/storeInsideV4.png");
 background-size: 100% 100%;
 background-repeat: no-repeat;
}



   

.navBar{
    text-align: center;
    background-image: linear-gradient(black, white); 
    
}

.navBar a{
    text-decoration:none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color:white;
    
}
.underline{

    text-decoration: underline;
}
/*
.navBar a:hover{
    color:black;
    background-color:white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
*/
#mensLink,#womensLink{
  color:black;
    font-size: 3em;
    -webkit-text-stroke: 1px black;
}

#mensLink:hover,#womensLink:hover{
    color:black;
    background-color:white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }





  
  /* The container <div> - needed to position the dropdown content */
  .mensDropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .mensDDContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .mensDDContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


  }
  
  /* Change color of dropdown links on hover */
  .mensDDContent a:hover {
      
    color:white;
    background-color:black;

}
  
  /* Show the dropdown menu on hover */
  .mensDropdown:hover .mensDDContent {display: block;}
  
  .womensDropdown {
    position: relative;
    display: inline-block;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .womensDDContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .womensDDContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


  }
  
  /* Change color of dropdown links on hover */
  .womensDDContent a:hover {
      
      color:white;
    background-color:black;
 

}
  
  /* Show the dropdown menu on hover */
  .womensDropdown:hover .womensDDContent {display: block;}



#websiteTitle{
  
    color: black;
  font-size: 7em;
}


#shoppingCart{
    margin-top: 7em;
    position: absolute;
    right: 0;
}

header p{

    padding: 8em;
}

/*homepage body*/
#bannerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
  

}

.bannerImage{

    display:flex;
    flex-direction: row;
}
#mensCat,#womensCat{

    text-align: center;
    font-size: 5em;
}

.mensPics,.womensPics{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2em;
    
}

.womensPics{

 margin-bottom: 4em;
}

.mensPics img,.womensPics img{
    width:400;
    height: 300px;      
}

.mensPics img:hover,.womensPics img:hover{
    transform: scale(1.1);
}

/*mens page body*/
.inventory{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 3em;
    margin-left: 3em;


}
.item,.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{

    margin: 1em;
     border:2px solid black;
    border-radius: 10px;
    padding: 5px;
}
#mensPageTitle{

margin-left: 1em;
font-size: 5em;

}

.inventory h2{
font-size: 2em;

}
.inventory h3{
    font-size: 1em;
}


.item img,.item1 img,.item2 img,.item3 img,.item4 img,.item5 img,.item6 img,.item7 img,.item8 img{
width: 400px;
height: 400px;
}

/*itemDisplay page body*/

.itemDisplay{

    display: inline-flex;
    margin-right: -8px;
}

#pageLocation{
margin-left: 3em;
font-size: large;
color: grey;
}

.pictures {

display: inline-flex;
  }

.pictures img{
    width:150px;
    height: 150px;

}

.extraPictures{
    display:grid;
    margin-left: 3em;
    padding: 2em;
    padding-top: 0em;
}


.itemPicture img{
    width: 400px;
    height:400px;
}

.itemInfo{
    display:grid;
    padding-left:3em;
   text-align: center;
   
}

.itemInfo h2{

  font-size: 3em;
}

#description{

    font-size: 3em;
border-bottom:2px solid grey ;
margin-bottom: 0em;
}
#price{
margin-top: 0em;
    font-size: 3em;
}


.Description{

    margin-left: 4em;
    margin-right: 4em;
    
}

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color:white;
    padding-bottom: 9em;
    margin-top: 2em;
    margin-bottom: -8px;
    margin-left:-8px ;
    margin-right: -8px;
}

.row3 img{
width:80px;
height:40px;
padding:2px;
}

.row3{
display:flex;
flex-direction: column;

}



/* display item css*/
.bottomItems{

    display: initial;
}

.displayItem{

display: none;
}

.leftButton,.rightButton{
    background-color:white;
    border: none;
    font-size: 2em;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
   
}

.leftButton:hover,.rightButton:hover{
    color:white;
    background-color: black;
    
}